/* *{
    box-sizing: border-box;
} */

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

html{
   overflow: hidden;
}

body{
   background-color: #c9c9c9;
}
header{
   background-color: green;
}


footer{
   background-color: blue;
}